@(tasks: List[Task], taskForm: Form[Task])

<!DOCTYPE html>

<html>
<head>
    <title>My To-Do List App</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
</head>
<body>
@import helper._


<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Todo List</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Tasks<span class="badge">@tasks.size()</span></a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tasks</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        @for(task <- tasks) {
                        <li class="list-group-item">
                            @task.label
                            @form(routes.Application.deleteTask(task.id)) {
                            <input type="submit" value="Delete" class="btn btn-xs btn-danger">
                            }

                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add a New Task</h3>
                </div>
                <div class="panel-body">

                    @form(routes.Application.newTask()) {

                    @inputText(taskForm("label"), 'class -> "form-control")


                    <input type="submit" value="Create" class="btn btn-primary">
                    }
                </div>
            </div>
        </div>


    </div>

</div>
</body>
</html>